# ============================================================
# .gitignore — файлы, которые НЕ должны попадать в Git
# ============================================================

# Секреты
.env
.vault_pass
k8s/alertmanager-config.yaml

# Self-hosted runner
actions-runner/

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
terraform-ansible/inventory.ini

# Резервные копии
*.bak
*.backup
*.save
*.swp
