# ============================================================
# ansible.cfg — настройки Ansible для проекта
# ============================================================
[defaults]
host_key_checking = False
inventory = ./inventory.ini
interpreter_python = auto_silent
