<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ nginx_site_title }}</title>
</head>
<body>
    <h1>{{ nginx_greeting }}</h1>

    <h2>Информация о сервере</h2>
    <ul>
        <li><strong>Hostname</strong> {{ ansible_hostname }}</li>
        <li><strong>OS</strong> {{ ansible_distribution }} {{ ansible_distribution_version }}</li>
        <li><strong>IP</strong> {{ ansible_default_ipv4.address }}</li>
        <li><strong>Port:</strong> {{ nginx_port }}</li>
    </ul>

    <h2>Управление через Ansible Role</h2>
    <p>Этот сайт настроен ролью <code>nginx</code>.</p>
</body>
</html>
